body{
    background: #eee;
}

#grid{
    margin: 100px auto 30px auto;
    display: block;
    background: #fff;
    padding: 0;
}
#controls{
    max-width: 400px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
button{
    margin: 10px auto;
    display: inline-block;
    border: none;
    background: #000;
    color: #fff;
    padding:5px 10px;
    cursor: pointer;
}