body{
    background: #eee;
}

#grid{
    margin: 100px auto;
    display: block;
    background: #fff;
    padding: 0;
}
#stop{
    margin: 10px auto;
    display: block;
    border: none;
    background: #000;
    color: #fff;
    padding:5px 10px;
    cursor: pointer;
}